{% if truncate %}

<div class="list-item {{page.header.commitee_type}} ">
	{% set image_parts = pathinfo(page.header.logo_image) %}
	{% set image_basename = image_parts.basename %}
	{% set image_page = image_parts.dirname == '.' ? page : page.find(image_parts.dirname) %}
	<a href="{{ page.url }}"> {{ image_page.media[image_basename].resize(130, 140).html() }}</a> 
	{{ page.summary(100) }}
	<p><a class="button button-blue" href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a></p>
</div>

{% else %}

	{% embed 'partials/base.html.twig' %}

	{% block content %}

	<div class="category-item">
		<div class="section-pattern section-pattern-lightgray-repeat info-category">
			<div class="limiter">
				<div class=" category-content">
					<div class="category-logo">
						{% set image_parts = pathinfo(header.logo_image) %}
						{% set image_basename = image_parts.basename %}
						{% set image_page = image_parts.dirname == '.' ? page : page.find(image_parts.dirname) %}
						{{ image_page.media[image_basename].resize(200).html() }}
					</div>
					<div class="item-category-content">
						<div class="category-description">
							<p>{{ page.header.description_category }}</p>
						</div>
						<div class="organizations-list">
							<h3>Comités que pueden conformar la categoría</h3>
							{{ page.content }}
						</div>
						<div class="category-require-list">
							{% if header.require_list %}
								<h3>Requisitos</h3>
								<ul>
									{% for requirement in header.require_list %}
									    <li>{{requirement.require_item}}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="coordinator">
					{% set image_parts = pathinfo(header.coordinator_picture) %}
					{% set image_basename = image_parts.basename %}
					{% set image_page = image_parts.dirname == '.' ? page : page.find(image_parts.dirname) %}
					{{ image_page.media[image_basename].resize(150, 170).html() }}
					<h3>{{header.coordinator_name}}</h3>
					<p>{{header.coordinator_org}}</p>
					<p class="correo-coordinador">{{header.coordinator_email}}</p>
					<p>{{header.coordinator_tel}}</p>
				</div>
			</div>
		</div>
		<div class="steps">
			<div class="limiter">
				<h3>Pasos a seguir:</h3>
				<div class="container-steps">
					{% set sum = 1 %}
					{% if header.steps_signup_enable == 1 %}
						<div class="step-item">
							<span class="step-number">{{sum}}</span>
							<h3>{{header.steps_signup_title}}</h3>
							<p class="step-dates"> {{header.steps_signup_date_start}} <br>
							{{header.steps_signup_date_end}} </p>
							<div>	
								<p>{{header.steps_signup_description}}</p>
								{% if header.steps_signup_file %}
									<a href="{{ url((header.steps_signup_file|first).path) }}" download class="button button-blue">Descargar</a>	
								{% endif %}
								{% if header.steps_signup_url %}
									<a href="{{header.steps_signup_url}}" class="button button-blue">Formulario</a>
								{% endif %}
							</div>
							{% set sum = sum + 1 %}
						</div>
					{% endif %}
					{% if header.steps_diagnose_enable == 1 %}
						<div class="step-item">
							<span class="step-number">{{sum}}</span>
							<h3>{{header.steps_diagnose_title}}</h3>
							<p class="step-dates">{{header.steps_diagnose_date_start}} <br>
							{{header.steps_diagnose_date_end}}</p>		
							<div>
								<p> {{header.steps_diagnose_description}} </p>
								{% if header.steps_diagnose_file %}
									<a href="{{ url((header.steps_diagnose_file|first).path) }}" download="" class="button button-blue">Descargar</a>
								{% endif %} 
								{% if header.steps_diagnose_url %}
									<a href="{{header.steps_diagnose_url}}" class="button button-blue"> Formulario</a>
								{% endif %}
							</div>
							{% set sum = sum + 1 %}
						</div>
					{% endif %}
					{% if header.steps_plan_enable == 1 %}
						<div class="step-item">
							<span class="step-number">{{sum}}</span>
							<h3>{{header.steps_plan_title}}</h3>
							<p class="step-dates">{{header.steps_plan_date_start}} <br>
							{{header.steps_plan_date_end}}</p>
							<div>
								<p>{{header.steps_plan_description}}</p>
								{% if header.steps_plan_file %}
									<a href="{{ url((header.steps_plan_file|first).path) }}" download="" class="button button-blue">Descargar</a>
								{% endif %}
								{% if header.steps_plan_url %}
									<a href="{{header.steps_plan_url}}" class="button button-blue"> Formulario</a>
								{% endif %}
							</div>
							{% set sum = sum + 1 %}
						</div>
					{% endif %}
					{% if header.steps_report_enable == 1 %}
						<div class="step-item">
							<span class="step-number">{{sum}}</span>
							<h3>{{header.steps_report_title}}</h3>
							<p class="step-dates">{{header.steps_report_date_start}} <br>
							{{header.steps_report_date_end}}</p>
							<div>
								<p>{{header.steps_report_description}}</p>
								{% if header.steps_report_file %}
									<a href="{{ url((header.steps_report_file|first).path) }}" download="" class="button button-blue">Descargar</a>
								{% endif %}
								{% if header.steps_report_url %}
									<a href="{{header.steps_report_url}}" class="button button-blue"> Formulario</a>
								{% endif %}
							</div>
							{% set sum = sum + 1 %}
						</div>
					{% endif %}
					{% if header.steps_manual_enable == 1 %}
						<div class="step-item">
							<span class="step-number">{{sum}}</span>
							<h3>{{header.steps_manual_title}}</h3>
							<p class="step-dates">{{header.steps_manual_date_start}} <br>
							{{header.steps_manual_date_end}}</p>
							<div>
								<p>{{header.steps_manual_description}}</p>
								{% if header.steps_manual_file %}
									<a href="{{ url((header.steps_manual_file|first).path) }}" download="" class="button button-blue">Descargar</a>
								{% endif %}
								{% if header.steps_manual_url %}
									<a href="{{header.steps_manual_url}}" class="button button-blue"> Formulario</a>
								{% endif %}
							</div>
							{% set sum = sum + 1 %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="limiter">
			<h3 class="title-resources" >Recursos relacionados</h3>
			<div class="resources">
				{#<h3>Recursos relacionados</h3>#}
				{% for resource in page.header.document_files %}
				<div class="resources-item">
					<h4>{{resource.resource_title}}</h4>
					<p>{{resource.resource_description}}</p>
					{% if resource.resource_url %}
						<a href="{{resource.resource_url}}" class="button button-blue">Ver recurso</a>
					{% endif %}
					{% if resource.resource_file_upload %}
						<a href="{{ url((resource.resource_file_upload|first).path) }}" download="" class="button button-blue">Descargar recurso relacionado</a>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	{% endblock %}

	{% endembed %}

	{% endif %}
