{% extends 'partials/base.html.twig' %}

{% block content %}
  {{ page.content}}
  <div class="limiter">
    <div class="contact_title">
      <h1>{{header.contact_title}}</h1>
    </div>
    <div class="contact-image">
      <img class="image-contact" src="{{(header.bgImage|first).path}}" alt="">
    </div>
  </div>
  <div class="section-pattern section-pattern-lightblue-top">
    <div class="limiter">
      <div class="contact">
        <div class="information-contact" >
          <p>{{header.description}}</p>
          <div class="arrow">
            <a class="redirect-to-categories" href="{{base_url}}{{header.redirect_section}}">Ir a la sección de categorías</a>
          </div>

        </div>
        <div class="social-media-contact">
          <p>{{header.redes_sociales}}</p>
          <ul>
            <a href="https://www.facebook.com/Programa-Bandera-Azul-EcologicaCosta-Rica-169072269797200/">
              <li><img src="{{ url('theme://img/facebook_logo_color.svg')}}" alt="Logo Facebook"></li>
            </a>
            <a href="#">
              <li><img src="{{ url('theme://img/youtube-logo-color.png')}}" alt="Logo Youtube"></li>
            </a>
          </ul>   
        </div>
      </div>
    </div>
  </div>
{% endblock %}