{% extends 'partials/base.html.twig' %}

{% block content %}

	<div class="section-pattern section-pattern-lightblue">
		<div class="limiter">
			<div class="all-info-winners">
				<div class="intro-winners">
					<h1>{{ header.title }}</h1>
					<h2>{{ header.summary_winners }}</h2>
					<h2>{{ header.summary_time_winners }}</h2>
					<img class="header-winners-image"src='{{ (header.winners_image|first).path }}'>
				</div>
				<div class="intro-winners-info">
					{{ page.content }}
					<a class= "button button-blue" href="{{ page.media[header.winners_file_select].cache.url }}">Ver lista de galardonados</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section-indicators">
		<div class="limiter">
			<div class="indicadores-info">
				<h1>{{ header.title_indicators }}</h1>
				<p>{{header.description_indicators}}</p>	
			</div>
			<div class="indicators">

				<div class="square-indicadores">
					<div class="square-indicadores-item">
						{{ header.kpi_first }}
					</div>
					<div class="square-indicadores-label">
						{{header.kpi_first_description}}
					</div>
				</div> 

				<div class="square-indicadores">
					<div class="square-indicadores-item">
						{{ header.kpi_second }}
					</div>
					<div class="square-indicadores-label">
						{{header.kpi_second_description}}
					</div>	
				</div>
				<div class="square-indicadores">
					<div class="square-indicadores-item">
						<ul>
							<li>{{ header.firstCategory }}</li>
							<li>{{ header.secondCategory }}</li>
							<li>{{ header.thirdCategory }}</li>
						</ul>
					</div>
					<div class="square-indicadores-label">
						{{header.kpi_third_description}}
					</div>
				</div>						
			</div>	
		</div>
	</div>
	<div class="section-pattern section-pattern-green">
		<div class="limiter">
			<div class="know-how-to-apply-section">
				<h2>Sea parte del cambio <br> con Bandera Azul Ecológica Costa Rica</h2>
				<a class="button button-white" href="#">Conozca como aplicar</a>

			</div>
		</div>
	</div>

{% endblock %}
