<div class="section-pattern section-pattern-lightblue">
  <div class="limiter">
    <div class="intro-bae">
      <div class="intro-home-description">
        <h1>{{ header.title }}</h1>
        <p>{{ header.text }}</p>
        <img class="photo-intro-bae border-images" src="{{(header.image|first).path}}">
      </div>  
      <div class="intro-home-buttons">
        <ul>
          <li><a href="header.button_first_url" class="button button-border-blue">{{header.button_first_text}}</a></li>
          <li><a href="header.button_second_url" class="button button-border-blue">{{header.button_second_text}}</a></li>
          <li><a href="header.button_third_url" class="button button-orange">{{header.button_third_text}}</a></li>
        </ul>
      </div>    
    </div>
  </div>
</div>

<div class="limiter">
  <div class="section-pattern-category section-pattern-category-blue section-intro-categories">
    <div class="jump-categories-page">
      {{page.content}}
      <div class="btn-categories">
        <a href="{{base_url}}/landing-de-categorias" class="button button-border-white">Ver todas las categorías</a>
      </div>
    </div>
  </div>
</div>  